@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome,you are successfully signed in</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">ASP.Net Core application to demonstrate authentication and authorization.</a>.</p>
</div>
