@model StudentMVC.Models.Student

@{
    ViewData["Title"] = "Create Student";
}

<h2>Create Student</h2>

<form asp-action="CreateStudent" method="post">
    <div>
        <label asp-for="StdID"></label>
        <input asp-for="StdID" class="form-control" />
        <span asp-validation-for="StdID" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Faculty"></label>
        <input asp-for="Faculty" class="form-control" />
        <span asp-validation-for="Faculty" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
