@model CrudAppADO.Models.Employee

<h2>Edit Employee</h2>
<form method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <label>Name</label>
    <input type="text" name="Name" value="@Model.Name" class="form-control" required />
    <label>Age</label>
    <input type="number" name="Age" value="@Model.Age" class="form-control" required />
    <label>Department</label>
    <input type="text" name="Department" value="@Model.Department" class="form-control" required />
    <button type="submit" class="btn btn-success">Update</button>
</form>
